body {
  max-width: 1200px;
  margin: 24px auto;
  padding: 32px;
  border: 10px solid #e5e5e5;
}
header {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 35px;
  text-align: center;
}
.photo {
  margin: 25px 25px;
}
.img_photo {
  width: 200px;
  border-radius: 100px;
}
h1 {
  margin-bottom: 35px;
  font-variant-caps: petite-caps;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.profile {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
}
.profile_li {
  display: flex;
  align-items: center;
  margin: 0 10px;
}
p {
  margin: 0;
  padding: 7px;
  font-variant-caps: petite-caps;
  letter-spacing: 2px;
  color: gray;
}
a {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 7px;
  font-variant-caps: petite-caps;
  letter-spacing: 2px;
  color: gray;
}
.img_ico {
  width: 32px;
  height: 32px;
}
main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.card_info {
  display: grid;
  width: 400px;
  margin: 0 16px 16px 16px;
  text-align: center;
  background-color: darkolivegreen;
}
.card_skills {
  display: grid;
  width: 400px;
  height: 250px;
  margin: 0 16px 16px 16px;
  text-align: center;
  background-color: darkslategrey;
}
.card_code {
  display: grid;
  width: 400px;
  height: 250px;
  margin: 0 16px 16px 16px;
  text-align: center;
  background-color: darkseagreen;
}
.card_code a {
  align-items: flex-start;
}
.card_experience {
  display: grid;
  width: 400px;
  height: 250px;
  margin: 0 16px 16px 16px;
  text-align: center;
  background-color: lightgrey;
}
.card_education {
  display: grid;
  width: 400px;
  height: 250px;
  margin: 0 16px 16px 16px;
  text-align: center;
  background-color: darkred;
}
.card_lang {
  display: grid;
  width: 400px;
  height: 250px;
  margin: 0 16px 16px 16px;
  text-align: center;
  background-color: darkkhaki;
}
h3 {
  margin-bottom: 0;
  text-align: center;
  text-transform: uppercase;
  color: antiquewhite;
}
.skills_graph {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.img_graph {
  width: 128px;
  height: 128px;
  padding-left: 7px;
}
.html {
  color: orangered;
}
.css {
  color: rgb(255, 255, 255);
}
.js {
  color: orange;
}
.git {
  color: rgb(41, 41, 41);
}
